@tailwind base;
@tailwind components;
@tailwind utilities;

/* contain overscroll behaviour only in vertical direction to prevent "pull to fresh" on mobile */
body {
  overscroll-behavior-y: contain;
}

.key-pop {
  animation: key-pop .3s;
}


@keyframes key-pop {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
